name: Create Dist & Publish on PyPI

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:

  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install CWB
      run: |
        sudo apt-get install libncurses5-dev
        svn co http://svn.code.sf.net/p/cwb/code/cwb/trunk cwb
        cd cwb
        sed -i 's/SITE=beta-install/SITE=standard/' config.mk
        sudo ./install-scripts/install-linux
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -q setuptools wheel twine pipenv
        make install
    - name: Build
      run: |
        make compile
        make build
    - name: Test
      run: |
        make test
    - name: Create Dist
      run: |
        make dist
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
